---
import BaseLayout from '../layouts/BaseLayout.astro';
import Icon from '../components/Icon.astro';
import CTADownload from '../components/CTADownload.astro';
import Grid from '../components/Grid.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import CallToAction from '../components/CallToAction.astro';
---

<BaseLayout title="About | Hamza Idbouiguiguane" description="About Hamza Idbouiguiguane">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline=" Lisez ci-dessous pour en savoir plus sur moi et mon parcours"
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/> -->
				<CTADownload href="/assets/CV.pdf" >
						Télécharger le CV
						<Icon icon="file" size="1em" />
				</CTADownload>
				
			</Hero>
			

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Etudiant en 3ème année de BUT MMI, 
						je suis passionné par le développement web et j'aspire à en faire mon métier. 
						Fort d'une expérience en stage, j'ai pu acquérir des compétences concrètes dans le domaine. 
						Actuellement à la recherche d'une alternance pour ma 3ème année de BUT pour l’année 2023/2024, 
						je suis motivé à continuer d'apprendre et de contribuer à des projets passionnants. 
						Mon objectif est de mettre en pratique mes connaissances et de développer mes compétences 
						en tant que développeur web au sein d'une entreprise qui pourra m'encadrer de la meilleure des façons
						et qui me permettra progresser professionnellement.
					</p>
					
				
						
					
				</div>
			</section>
			<section>	
			<h2 class="section-title">Education</h2>
			<div class="content">
					  <ul class="timeline">
						<!-- Début d'un élément de la timeline -->
						<li class="timeline-item">
						  <div class="timeline-info">
							<span>2021 - 2024</span>
						  </div>
						  <div class="timeline-marker"></div>
						  <div class="timeline-content">
							<h4 class="timeline-title">BUT (-ex DUT) MMi - IUT Cergy Pontoise</h4>
							<br>
							<p>Le BUT MMI parcours développement Web et dispositifs interactifs forme au développement de sites Web et à l’intégration d’applications multimédias ou mobiles. Il aborde notamment les outils et langages informatiques nécessaires à la conception et à la gestion de ces médias. Il prépare notamment aux métiers d’intégrateur ; de développeur « back », « front », ou « full stack »  d’intégrateur de dispositifs de réalité virtuelle. 
						  </div>
						</li>
						<!-- Fin d'un élément de la timeline -->
						<!-- Ajoutez plus d'éléments de timeline ici pour chaque expérience éducative -->
						<li class="timeline-item">
							<div class="timeline-info">
							  <span>2019 - 2021</span>
							</div>
							<div class="timeline-marker"></div>
							<div class="timeline-content">
							  <h4 class="timeline-title">Licence MIPI - Sorbonne Université</h4>
							  <br>
							  <p>Ce parcours ouvre préférentiellement sur les licences mentions Mathématiques, Informatique, Physique, ingénierie.
								Il privilégie une approche formelle, symbolique et abstraite des sciences. (niveau reorientation)</p>
							</div>
						  </li>
					  </ul>
					</div>
				  </section>
				<section>
					<h2 class="section-title">Experience</h2>
					<div class="content">
						<ul class="timeline">
							<!-- Début d'un élément de la timeline -->
							<li class="timeline-item">
							  <div class="timeline-info">
								<span>2023</span>
							  </div>
							  <div class="timeline-marker"></div>
							  <div class="timeline-content">
								<h4 class="timeline-title">Développeur Front-end Stagiaire</h4>
								<br>
								<p>Chez ZeMust - Chatou</p>
								<br>
								<ul>
									<li>Conception et intégration du design d'interfaces web attractives et
									ergonomiques, en utilisant des technologies telles que HTML, CSS et
									Javascript</li>
									<li>Développement d'un module web interactif en utilisant le framework Vue.js,
									offrant une expérience utilisateur fluide et réactive</li>
									<li>Collaboration avec une équipe multidisciplinaire pour comprendre les besoins
									et les exigences des clients, et proposer des solutions techniques efficaces</li>
									<li>Participation active aux réunions d'équipe, aux revues de code et aux sessions
									de brainstorming, contribuant ainsi à l'amélioration du développement.</li>
									
								</ul>
							  </div>
							</li>
							
						  </ul>
					</div>
				</section>
			<!-- <section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<div class="gallery">
					<Grid variant="small">
						{
							[
								{src: '/assets/reacticon.svg', alt: 'Medium', class: 'small-svg', txt: 'React'},
								{src: '/assets/jsicon.svg', alt: 'Medium', class: 'small-svg', txt: 'JS'},
								{src: '/assets/phpicon.svg', alt: 'Medium', class: 'small-svg', txt:'php'},
								{src: '/assets/vueicon.svg', alt: 'Medium', class: 'small-svg', txt:'vuejs'},
								{src: '/assets/figma_icon.svg', alt: 'Medium', class: 'small-svg', txt:'figma'},
								{src: '/assets/wpicon.svg', alt: 'Medium', class: 'small-svg', txt:'wordpress'},
								{src: '/assets/unityicon.svg', alt: 'Medium', class: 'small-svg', txt:'unity'},
							].map((image) => (
								<li class="mention-card">
									
					<img src={image.src} alt={image.alt} class={image.class} />
				
				
								</li>
							))
						}
					</Grid>
				</div>
				</div>
			</section> -->
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>


	/*==================================
    TIMELINE
==================================*/

    /*-- GENERAL STYLES
    ------------------------------*/
    .timeline {
        line-height: 1.4em;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    
    }

    /*----- TIMELINE ITEM -----*/

    .timeline-item {
        position: relative;
		margin-bottom: 40px;
        
    }

    /*----- TIMELINE INFO -----*/

    .timeline-info {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0 0 .5em 0;
        text-transform: uppercase;
        white-space: nowrap;
    }
    
	
	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
		transition: transform 0.3s ease;
	}

	.mention-card:hover {
		transform: translateY(-10px);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}

    .small-svg {
		width: 20%; /* change this to the size you want */
		height: auto;
	}


    

    

	.CallToAction {
    width: 50px;
}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
